<div>
    <img src="{{ image_name | asset_url }}" alt="T-shirt" class="rounded-xl h-[300px] w-full object-cover">
    <p class="mt-4 font-semibold">T-shirt with Tape Details</p>
    <div class="text-black flex items-center space-x-2">
        <img src="{{ 'review1.png' | asset_url }}" alt="">
        <span>4.5/5</span>
    </div>
    <p class="text-lg font-bold mt-2">$120</p>
</div>