<section class="bg-black py-8">
    <div class="max-w-[1240px] mx-auto px-6 md:px-0">
        <div class="flex flex-wrap justify-center md:justify-between items-center gap-6 cursor-pointer">
            
            {% for block in section.blocks %}
                {% if block.settings.brand_logo != blank %}
                    <img src="{{ block.settings.brand_logo | img_url: '150x' }}" alt="Brand Logo" class="h-6">
                {% endif %}
            {% endfor %}
            
        </div>
    </div>
</section>

{% schema %}
{
  "name": "Brand Logos",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Brand Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_logo",
          "label": "Upload Brand Logo"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Brand Logos"
    }
  ]
}
{% endschema %}

