<!-- Top Banner -->
{% if section.settings.show_banner %}
    <div class="bg-black top-banner border-t">
        <div class="max-w-[1240px] mx-auto px-6 md:px-0">
            <div class="text-white text-center py-2 text-xs sm:text-sm flex justify-between items-center">
                <p class="w-full">
                    {{ section.settings.banner_text }} 
                    <a href="{{ routes.account_register_url }}" class="underline">{{ section.settings.link_text }}</a>
                </p>
                <button class="text-white text-lg close-banner">&times;</button>
            </div>
        </div>
    </div>
{% endif %}
{% schema %}
{
    "name": "Announcement Bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_banner",
            "label": "Hide / Show Announcement",
            "default": true
        },
        {
            "type": "text",
            "id": "banner_text",
            "label": "Announcement Text",
            "default": "Sign up and get 20% off your first order."
        },
        {
            "type": "text",
            "id": "link_text",
            "label": "Announcement Text Link",
            "default": "Sign Up Now"
        }
    ],
    "presets": [
        {
            "name": "Announcement Bar"
        }
    ]
}
{% endschema %}
